@mixin character-shadow($colour: colour) {
  box-shadow: 5px 5px $colour;
  transition: box-shadow 200ms, transform 500ms;
}

@mixin character-hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5em;
  .btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .graphiql-container {
    padding: 2em;
    border-radius: 10px;
  }
}
